@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Board Games: An Expensive and Plastic-Filled Hobby</h1>
    <h4 style="font-size: 18px">(Seriously, if you like board games you will have so much plastic)</h4>
    <figure>
    <img src="~/img/gaia_project.jpg" width="750" height="auto" />
    <figcaption style="left: -340px">Gaia Project</figcaption>
    </figure>
    <hr />
    <p>If you've never played a board game before, what rock have you been living under? Everyone has at one point in their life ruined a friendship (or
        possibly familial relationship) by playing Monopoly (which usually only happens due to everyone playing the game wrong and extending the gameplay
        well past its intended run-time, but that's another rant for a different day).
        <br />
        <br />
        However, when I talk about board games, I'm not talking about the simple games like Uno or Sorry (though those games certainly have a place). I'm talking about the big boys;
        games that have rule books you could consider a booklet, require anywhere from 10 - 30 minutes of set up, and take hours to complete.
        <div class="row">
            <div class="column">
                <figure>
                <img src="~/img/scythe.jpg" width="400" height="300"/>
                <figcaption style="left: -182px">Scythe</figcaption>
                </figure>
            </div>
            <div class="column">
                <figure>
                <img src="~/img/spirit_island.jpg" width="400" height="auto" />
                <figcaption style="left: -165px">Spirit Island</figcaption>
                </figure>
            </div>
            <div class="column">
                <figure>
                <img src="~/img/clank_in_action.jpg" width="400" height="auto"/>
                <figcaption style="left: -98px">Clank!: A Deck-Building Adventure</figcaption>
                </figure>
            </div>
        </div>
    </p>
    <p>While there certainly is a lot to keep track of, these giant strategy games often look a lot scarier to play than they actually are. Mechanically most of these games are
        fairly simple. The hard part is learning how to play, what each symbol and each special word means, how to read the board and the cards in your hand, and what strategies
        you should be employing in order to win. A lot of these games take a lot of strategically thinking through scenarios, reacting to what the other plays do, and what decisions
        you make. While there is card drawing and dice throwing and other elements of luck in a lot of these games, chance is often minimal, with your decisions having a 
        much greater impact on the outcomes of the game.
    </p>
</div>
